*{
    background-color: brown;
}
#course-list {
    list-style-type: none;
    padding: 0;
}

.course-item {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.course-item div {
    flex: 1; /* Distribute space evenly */
    text-align: center;
}